@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 14px;
}

.primary-font {
  font-family: var(--font-sora);
}

.red-hat {
  font-family: var(--font-red-hat-display);
}

.sanchez {
  font-family: var(--font-sanchez);
}

.marope {
  font-family: var(--font-marope);
}

.poppins {
  font-family: var(--font-poppins);
}

/* .container {
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
}

.hero-sub-container {
  max-width: 97%;
  margin: 0 auto;
  padding: 0 2%;
}

.hero-child-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 3%;
}

.sub-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 3%;
} */

/* Base container for general content */
.container,
.hero-sub-container,
.hero-child-container,
.sub-container {
  width: 96%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2%;
}


.hero-sub-container {
  max-width: 1820px;
}

.hero-child-container {
  max-width: 1270px;
}

.sub-container {
  max-width: 1440px;
}


.bg-product-category {
  background-color: #E0FFF1;
}

.bg-pharma-category {
  background-color: #E3F7FF;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media (min-width: 768px) and (max-width: 1300px) {
  html {
    font-size: 12px;
  }

}

@media (min-width: 1301px) and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1550px) and (max-width: 1800px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1901px) and (max-width: 2100px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2101px) and (max-width: 2500px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 2501px) and (max-width: 3000px) {
  html {
    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 98%;
  }

  .sub-container {
    padding: 0 2%;
    max-width: 95%;
  }

  .hero-sub-container {
    padding: 0 1.5%;
    max-width: 97%;
  }

  .hero-child-container {
    padding: 0 1.5%;
    max-width: 95%;
  }
}


@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .sub-container {
    padding: 0 4%;
    max-width: 100%;
  }

  .hero-sub-container {
    padding: 0 3%;
    max-width: 100%;
  }

  .hero-child-container {
    padding: 0 3%;
    max-width: 100%;
  }
}


@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-slow-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.animate-rotate-slow {
  animation: rotate-slow-reverse 25s linear infinite;
}



/* ================ */
@keyframes scroll-dot {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-scroll-dot {
  animation: scroll-dot 1.8s infinite ease-in-out;
}

@keyframes arrow {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}

.animate-arrow {
  animation: arrow 1.5s infinite ease-in-out;
}